html {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 vertical-align:baseline
}
body {
 border:0;
 font:inherit;
 vertical-align:baseline
}
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
 display:block
}
body {
 line-height:1
}
ol,ul {
 list-style:none
}
blockquote,q {
 quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
 content:'';
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
html {
 position:relative
}
body {
 position:relative;
 margin:0;
 padding:0;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1em;

/* identical to box height, or 257% */
color: #797979;


}
a{
text-decoration:none;
}

[tabindex='-1']:focus {
 outline:none
}
.inset {
 padding:10px
}
a.md-no-style,button.md-no-style {
 font-weight:normal;
 background-color:inherit;
 text-align:left;
 border:none;
 padding:0;
 margin:0
}
select,button,input {
 vertical-align:baseline
}

button:hover{
color:7f7f7f;;
}































































































/* Global */

/*botones fijos:*/
.fixed-button {
  right: 0px;
  align-items: center;
  background-clip: padding-box;
  background: #fff;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 2px 5px 0
  rgba(0,0,0,.26);
  display: flex;
  height: 56px;
  justify-content: center;
  line-height: 56px;
  margin-right: 10px;
  min-width: 0;
  overflow: visible;
  position: fixed;
  transform: translateX(-100%);
  transition-property: background-color,box-shadow,transform;
  transition: box-shadow .3s cubic-bezier(0.55, 0, 0.55, 0.2);
  vertical-align: middle;
  width: 56px;
  z-index: 80;
}



/* HEADER */
header{
	/*position: fixed; */
	position: absolute;
	
	z-index:1;
	height: 64px;
	width:100%;

	border-bottom: 1px solid rgba(0,0,0,.14);
	transition: box-shadow 200ms ease-in-out;
	color: rgba(0,0,0,.6);
	fill: rgba(0,0,0,.6);
	box-shadow: 1px 1px transparent;
 z-index:1000;
}

#Logo {	
	background:pink;
	position:absolute;
	top:5px;
	left:60px;
	padding:10px;
}
#Logo >a> img{
	height:30px;
	width:30px;
}

.botonMenu{
 padding:10px;
 background:pink;
 position:absolute;   
 top:15px;
 right:60px;
}



/*  MAIN    */
main{
    min-height: -moz-calc(100% - 48px);
    min-height: calc(100% - 48px);
    padding-top:64px;
    padding-left: 60px;
    padding-bottom: 48px;
    background:#fff ;
    fill: #fff;
    transition: padding 100ms cubic-bezier(0.4,0,0.2,1),margin 300ms cubic-bezier(0.4,0,0.2,1);
}

.sidebar{
   position:fixed;
   top:0;
   right:0;
   width:500px;
   height:100%;
   background-color:red;
   z-index:1;
}

.sidebar > nav{ display:block;}
.sidebar > nav > ul { margin-top:80px;}
.sidebar > nav > ul > li{
	color: rgba(0,0,0,.6);
	fill:
	rgba(0,0,0,.6);
	display: flex;
	height: 48px;
	outline: none;
	text-decoration: none !important;
	font-weight: 500;
	align-items: center;
}

.sidebar > nav > ul > li:hover{
	background-color:violet;
}

.activo{
display: block;
}




.toolbar{
vertical-align:middle;
width:90%;
padding-top:10px;
margin-bottom:30px;
}

.toolbar .top-fixed{
left: 0;
margin: 0 auto;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 30;
}

.search_toolbar{
width: 100%;
height: 46px;
border: 1px solid #DADCE0;
box-sizing: border-box;
border-radius: 48px;
}

.search_icon{
	width:20px;
	margin-left:15px;
	border-right:0.05px solid #dadce0;
}
.search_input{
width:90%;
height: 44px;
border-style:none;
background-color:transparent;
}


.toolbar_vista_counter{
	line-height: 36px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	color:
	#797979;
}

.vista{
vertical-align:middle;
padding-top:15px;
margin-left:30px;
display:flex;
}

.vista_boton{
border-radius: 4px;
display: flex;
fill:#5f6368;
flex-direction: row;
font-weight: 400;
letter-spacing: .01em;
line-height: 1;
margin: 0;
min-width: 0;
opacity: .6;
overflow: visible;
padding: 4px;
text-transform: initial;
width: auto;
}
.vista_boton:hover{
	background:rgba(164, 28, 28, 0.2);
}

.toolbar_botones{
display: flex;
align-items: center;
}





















/*      TARJETAS         */
.grid-container{
   display:flex;
   flex-warp:warp;
}

.grid-cards{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;

}

.list_view {
  flex-direction: column;
}


.grid_view {
  flex-direction: row;


}


.list_view > .grid-card{
   padding-bottom:0px;

}
.grid_view >.grid-card{
   padding-bottom:24px;
   padding-right:24px;
}

.grid-container > ol > li {
}


.grid-card > a{
	min-height: 100%;min-width: 290px;
	background:#fff;
	border: 1px solid #dadce0;
	box-shadow: 0px 0px 0px #fff,0px 0px 0px #fff,0px 0px 0px #fff;
	box-sizing: border-box;
	display: flex;
	max-width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	transition: .18s ease all;
}
.grid-card> a:hover{
        box-shadow: 0px 1px 4px rgba(0,0,0,.1),0px 2px 3px rgba(0,0,0,.12),0px 1px 3px rgba(0,0,0,.14);
        transform: translateY(-1px);
}

.grid-card >a> section {
        width:100%;
        display:block;
}

.list_view > .grid-card > a{
	width:500px;			/*width y height hayq eu ver como ir adaptandolos*/
	height:50%;
	margin-bottom:0;
	padding-bottom:0px;
	border-radius: 0px;
}


.grid_view > .grid-card > a{
	width:275px;			/*width y height hayq eu ver como ir adaptandolos*/
	height:250px;
	border-radius: 8px;
}


/*  interior de cada tarjeta */
.card-header{
cursor: pointer;
outline: none;
position: relative;
padding-left: 16px;
padding-right: 16px;
}

.card-titulo {
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        margin-top: 12px;
        margin-bottom: 4px;
}
.card-subtitulo {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        min-height: 44px;
  border-bottom: 0.05px solid #f4f4f4;
}




















/*  PAGINA ESPECIMENT */
.specimen-page {
    margin-top: 130px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 1440px;
}
.specimen-header {
    position: absolute;
    transform: translate3d(0px,-108px,0px);
    background: #fff;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}


.specimen-header_titulo {
	white-space: nowrap;
	font-size: 48px;
	line-height: 64px;
}

.specimen-header_subtitulo {
	position: absolute;
	color:#979797;
	transform: translateY(-6px);
	font-weight: 500;
}

.specimen_page h1 {
    padding-top: 32px;
    margin-top: 0;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 4px;
}

.specimen_page p{
font-size: 14px;
line-height: 20px;
}
.about-half {
    width: 100%;
    max-width: 800px;
}






























.barra_secciones {
	display:blocK;
}

.barra_secciones > ul {
	outline: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
}




























.barra_secciones >ul>li>button{
display: inline-block;
position: relative;
cursor: pointer;
min-height: 36px;
min-width: 88px;
line-height: 36px;
vertical-align: middle;
align-items: center;
text-align: center;
-moz-border-radius: 2px;
border-radius: 2px;
box-sizing: border-box;
-moz-user-select: none;
-moz-user-select: none;
outline: none;
border: 0;
padding: 0 6px;
margin: 6px 8px;
background: transparent;
color: currentColor;
white-space: nowrap;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}
