html {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 vertical-align:baseline
}
body {
 border:0;
 font:inherit;
 vertical-align:baseline
}
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
 display:block
}
body {
 line-height:1
}
ol,ul {
 list-style:none
}
blockquote,q {
 quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
 content:'';
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
html {
 position:relative
}
body {
 position:relative;
 margin:0;
 padding:0;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1em;

/* identical to box height, or 257% */
color: #797979;


}
a{
text-decoration:none;
}

[tabindex='-1']:focus {
 outline:none
}
.inset {
 padding:10px
}
a.md-no-style,button.md-no-style {
 font-weight:normal;
 background-color:inherit;
 text-align:left;
 border:none;
 padding:0;
 margin:0
}
select,button,input {
 vertical-align:baseline
}

button:hover{
color:7f7f7f;;
}

body{
 font-family:Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 1em;


}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:AvenirNextBold,Roboto,Ubuntu;
}

figure {
  float: right;
  width: 30%;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  margin: 0.25em;
}







/* Global */

/*botones fijos:*/
.fixed-button {
  right: 0px;
  align-items: center;
  background-clip: padding-box;
  background: #fff;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 2px 5px 0
  rgba(0,0,0,.26);
  display: flex;
  height: 56px;
  justify-content: center;
  line-height: 56px;
  margin-right: 10px;
  min-width: 0;
  overflow: visible;
  position: fixed;
  transform: translateX(-100%);
  transition-property: background-color,box-shadow,transform;
  transition: box-shadow .3s cubic-bezier(0.55, 0, 0.55, 0.2);
  vertical-align: middle;
  width: 56px;
  z-index: 80;
}



/* HEADER */
header{
	/*position: fixed; */
	position: absolute;
	
	z-index:1;
	height: 64px;
	width:100%;

	border-bottom: 1px solid rgba(0,0,0,.14);
	transition: box-shadow 200ms ease-in-out;
	color: rgba(0,0,0,.6);
	fill: rgba(0,0,0,.6);
	box-shadow: 1px 1px transparent;
 	z-index:1000;
}

#Logo {	
	position:absolute;
	right:60px;
	padding:5px;
}
#Logo >a> img{
	height:33px;
	width:36px;
}

.LogoToxDB{
	display:flex;
	position:absolute;
	top:15px;      
	left:60px;        
	padding:5px;
	height:40px;
	text-align:center;
	font-size:24px;
}


.botonMenu{
 padding:10px;
 position:absolute;   
 top:15px;
 right:60px;
 background:pink;
 font-weight:500;
 font-size:30px;
	display:none;
}



/*  MAIN    */
main{
    min-height: -moz-calc(100% - 48px);
    min-height: calc(100% - 48px);
    padding-top:64px;
    padding-left: 60px;
    padding-bottom: 48px;
    background:#fff ;
    fill: #fff;
    transition: padding 100ms cubic-bezier(0.4,0,0.2,1),margin 300ms cubic-bezier(0.4,0,0.2,1);
}

.sidebar{
   position:fixed;
   top:0;
   right:0;
   width:400px;
   height:100%;
   background-color:#fff;
   z-index:300;
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);


}

.sidebar > nav{ display:block;}
.sidebar > nav > ul { margin-top:80px;}
.sidebar > nav > ul > li{
	color: rgba(0,0,0,.6);
	fill:
	rgba(0,0,0,.6);
	display: flex;
	height: 48px;
	outline: none;
	text-decoration: none !important;
	font-weight: 500;
	align-items: center;
}

.sidebar > nav > ul > li:hover{
	background-color:violet;
}

.activo{display: block; }

















/* SEARCH TOOLBAR */

.search_toolbar{
    align-items: center;
    vertical-align:middle;
    margin-top:20px;
    margin-bottom:30px;
	width: 100%;
	max-width:1200px;
	height: 53px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-radius: 48px;
	display:flex;
}
.search_icon{
  width:30px;
  padding-left:15px;
  /*border-right:0.05px solid #dadce0;*/
}

.search_input{
width:100%;
max-width:600px;
height: 50px;
border-style:none;
background-color:transparent;
border: 0;
background: none;
outline: none;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-size: 15px;
color:#000;
font-weight: 400;
flex:auto;}

.top_fixed-search_toolbar{
   	display:flex;
	margin: 0 auto;
	padding-left:60px;
	position: fixed!important;
	top:0;
	left:0;
	background-color:#fff;
	z-index: 30;
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.06);
	box-shadow: 0 4px 4px rgba(0,0,0,.06);
	width: 100%;
	max-width:1500px;
	height:44px;
	border-radius: 0px;
	border: 1px solid #f7f7f7;
	align-items: center;
}



/* toolbar opciones de vista */

.vista_toolbar{
	line-height: 36px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width:1100px;
	justify-content: space-between;
	color:#797979;
}


.botones_toolbar{
	display: flex;
	align-items: center;
	height: 46px;
}






.vista{
vertical-align:middle;
padding-top:15px;
margin-left:30px;
display:flex;
}

.vista_boton{
border-radius: 4px;
display: flex;
fill:#5f6368;
flex-direction: row;
font-weight: 400;
letter-spacing: .01em;
line-height: 1;
margin-right: 3px;
margin-left: 2px;
min-width: 0;
opacity: .6;
overflow: visible;
padding: 4px;
text-transform: initial;
width: auto;
}
.vista_boton:hover{
	background:rgba(164, 28, 28, 0.2);
}


























/*      TARJETAS         */
.grid-container{
   display:flex;
   flex-warp:warp;
}

.grid-cards{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;

}

.list_view {
  flex-direction: column;
}

.grid_view {
  flex-direction: row;
}


.list_view > .grid-card{
   padding-bottom:-2px;
   margin-top:-2px;

}
.grid_view >.grid-card{
   padding-bottom:24px;
   padding-right:24px;
}

.grid-container > ol > li {
}


.grid-card > a{
	min-width: 300px;
	background:#fff;
	/*
	
	box-shadow: 0px 0px 0px #fff,0px 0px 0px #fff,0px 0px 0px #fff;*/
	box-sizing: border-box;
	display: flex;
	flex: 1;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	transition: .18s ease all;
	box-sizing: inherit;


}


.grid-card> a:hover{
        box-shadow: 0px 1px 4px rgba(0,0,0,.1),0px 2px 3px rgba(0,0,0,.12),0px 1px 3px rgba(0,0,0,.14);
        transform: translateY(-1px);
}

.grid-card >a> section {
        width:100%;
        display:block;
}
.grid_view > li>a{
	width: -moz-calc(33.3333333333% - 16px + 0px);
	width: calc(33.3333333333% - 16px + 0px);
	margin-right: 24px;
}

.grid_view > .grid-card > a{
	height:250px;
	border-radius: 8px;
	border: 1px solid #dadada;
}



.list_view > li>a{
	width: -moz-calc(100% - 0px + 0px);
	width: calc(100% - 0px + 0px);
	margin-right: 0px;
	min-width: 600px;
}

.list_view > .grid-card > a{
	min-height:50%;
	margin-bottom:0;
	padding-bottom:0px;
	border-radius: 0px;
}

.list_view>li >a>section>.card-header *{
	line-height:28px;
	padding:2px;
	margin:2px;
}
.list_view>li >a>section>.card-header{
 display:flex;
	justify-content:space-between;
}















/*  interior de cada tarjeta */
.card-header{
	cursor: pointer;
	outline: none;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
}

.card-titulo {
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        margin-top: 12px;
        margin-bottom: 4px;
}
.card-subtitulo {
        font-size: 12px;
        font-weight:20;
        line-height: 16px;
        min-height: 14px;
  border-bottom: 0.05px solid #f4f4f4;
}
.card-content{
	height:60%;
	vertical-align: middle;
        /*align-items: center;
        text-align: center;*/

}
.card-footer{
  float: right;
	margin-right:10px;
	text-align:right;
	position:relative;
	font-size:20px;
}



















/*  PAGINA ESPECIMENT */
.specimen_page {
    position: relative;
    margin-top: 30px;
    /*margin-left:40px;*/
	max-width: 1200px;
}

.specimen-header {
    position: absolute;
    transform: translate3d(0px,-108px,0px);
    background: #fff;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}


.specimen-header_titulo {
	/*white-space: nowrap;*/
	font-size: 48px;
	line-height: 64px;
}

.specimen-header_subtitulo {
	position: absolute;
	color:#979797;
	transform: translateY(-6px);
	font-weight: 500;
}

.specimen_page h1 {
    padding-top: 32px;
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
}

.specimen_page p{
font-size: 14px;
line-height: 20px;
}

.specimen_data {
	width:90%;
	max-width:1200px;
	padding-left:20px;
	padding-bottom:20px;
	margin-bottom:5px;
	border-bottom:0.1px solid #e0e0e0;
	display:block;
}


.resumen {
   border-color:#7bcacb;
   margin: 10px 10px;
   border-radius: 2px;
   border-width: 4px;
   border-style: solid;
   border-collapse: collapse;
   border-spacing: 0;
   text-align: left;
   padding: 30px;
  max-width:400px;
}
.resumen > table >tbody> tr > td:first-child {
	margin-right:50px;
	padding-right:10px;
	border-right:1px solid red;
	vertical-align: text-top;
}
.resumen > table >tbody> tr > td:nth-child(2) {
	padding-left:20px;
}






.specimen_page_nav {
	display:blocK;
	position:fixed;
	top:0;right:0;left:0;
	width:100%;
	background-color:#fff;
   transition: 300ms cubic-bezier(0.4,0,0.2,1) padding-right;
   padding-left: 60px;
   padding-right: 60px;
   height: 64px;
   max-width: 100%;
   left: 0;
   position: fixed;
   top: 0;
   border-bottom: 0.1px solid #000;
   transform: translate3d(0px,0px,0px);
	display:none;
}
.specimen_page_nav > ul {
	outline: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	border-bottom: 0.01px solid #000;
	background-color: white;
   margin-top:1px;
}	
.specimen_page_nav_header{
	width:100%;
	background-color:#fff;
	height:64px;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.specimen_page_nav_header h3{
    font-size: 27px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 48px;
    line-height: 64px;
}
.specimen_page_nav >ul>li>button{
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-height: 36px;
	min-width: 88px;
	line-height: 36px;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-user-select: none;
	-moz-user-select: none;
	outline: none;
	border: 0;
	padding: 0 6px;
	background: transparent;
	color: currentColor;
	white-space: nowrap;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	overflow: hidden;
	transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}

.specimen_page_nav > ul > li > button:hover, .activo{
	border-bottom:2px solid blue;
	color:blue;
}





/* CONTENIDO */
.specimen_data > table >tbody> tr{
	display:block;	
	flex-warp:warp;
}
.specimen_data > table >tbody> tr>td{
	vertical-align: baseline;
}


.specimen_data_name {
	height:45px;
	margin:20px;
	padding-right:5px;
	width:300px;	
	max-width:400px;
	font-size:18px;
	line-height:20px;
}
.specimen_data_value  {
	font-size:22px;
	line-height:24px;
	width:100px;
}
.specimen_data_referencia {
	padding-left:30px;
	margin-left:10px;
	width:20%;	
	font-style:italic;
	color:currentColor;
	text-align:right;
	font-size:22px;
}

.specimen_data_referencia:hover{
	color:blue;
}

.specimen_data_referencia > span::before {
	content:"+";
}
.specimen_data_referencia.active {color:red;}
.specimen_data_referencia.active > span::before {
	content:"-";
}

.cita {
	padding-right:2px;
	padding-bottom:3px;
	
	
	display:none;
}
.cita>td {
	padding:5px;
	margin:5px;
	margin-top:0;
	padding-top:0;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	width:100%;
	max-width:500px;
	float:right;
	text-align:right;
	height:auto;
	font-style:italic;
	
display:none;
}


.cita.active     { display:blocK }
.cita.active > td{ display:blocK }



.about-half {
    width: 100%;
    max-width: 800px;
}







/* SITE FOOTER */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer 
  {
    text-align:center
  }
}
.social-icons a.github:hover
{
  background-color:blue;
}




















/*Ripple */
.animation{
  animation:ripple .65s linear;
}








/* Pantalla angosta */
@media (max-width:767px){

	main{
		padding-top:50px;
	}
	main,
	.specimen_page_nav,
	.search_toolbar,
	.top_fixed-search_toolbar{
		margin-left:0px;
		padding-left:20px;
	}
	#Logo{right:25px;}
	.logoToxDB{left:20px;}

}
